{% extends 'ErlemJobeetBundle::layout.html.twig' %}
  
{% block content %}
    <h1>Job creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('erlem_job') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
